.wrapper {
  position: relative;
  opacity: 1;
  padding-bottom: 100%;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-content {
  position: absolute;
  top: -6%;
  left: -6%;
  width: 112%;
  height: 112%;
}

.wrapper-scale {
  transform: scale(0.97) translate3d(0, 0, 0);
}

.wrapper-translate {
  opacity: .6;
  transform: scale(0.97) translate3d(0, 3%, 0);
}

.content {
  z-index: 2;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px 30px;

  box-sizing: border-box;
  transition: transform 0.7s cubic-bezier(0.8, 0, 0.1, 1);
  transform: translate3d(0, 100%, 0);
}

.content-visible {
  transform: translate3d(0, 0, 0);
}

.close {
  z-index: 2;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  opacity: 0;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-image: url('close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;

  transition: opacity 0.7s 0.4s cubic-bezier(0.8, 0, 0.1, 1);
}

.close-visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 40px 60px;
  }

  .close {
    padding: 15px;
  }
}