:host {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 25%;
}

polyfill-next-selector { content: ':host .intrinsic-wrapper img'; }
::content img {
  display: block;
  width: 100%;
}

.intrinsic-wrapper {
  height: 0;
  padding-bottom: 100%;
}

.mask {
  position: absolute;
  top: 50%;
  width: 100%;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}