.content {
  z-index: 2;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 40px;

  transform-origin: 0px 0px;
  box-sizing: border-box;
}

.content--fade {
  opacity: 1;
}

.content--visible {
  visibility: visible;
}

.content--expand {
  top: 0 !important;
  left: 0 !important;
  transform: scale(1) !important;
}

.content--height {
  height: 100% !important;
}

.content--fade-transition {
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content--expand-transition {
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1),
              top 0.7s cubic-bezier(0.4, 0, 0.2, 1),
              left 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  z-index: 3;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #333;

  transition: opacity 0.2s 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.close--visible {
  visibility: visible;
}