<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>image-grid-item-link</title>
  <script src="../../platform/platform.js"></script>
  <link rel="import" href="../../polymer-test-tools/tools.html">
  <script src="../../polymer-test-tools/htmltest.js"></script>
  <link rel="import" href="../image-grid.html">
  <link rel="import" href="../image-grid-item-expand.html">
</head>
<body>

  <image-grid>
    <image-grid-item-expand>
      <img src="../assets/1.jpg"/>
      <section><p>Content</p></section>
    </image-grid-item-expand>

    <image-grid-item-expand>
      <img src="../assets/4.jpg"/>
      <section><p>Content</p></section>
    </image-grid-item-expand>
  </image-grid>

  <script>
    document.addEventListener('polymer-ready', function() {

      var grid = document.querySelector('image-grid');
      var items = grid.querySelectorAll('image-grid-item-expand');
      var first = items[0];
      var second = items[1];

      /**
       * Checks that the content panel is created.
       * @method
       */
      function testContentCreation() {
        assert.isDefined(first.shadowRoot.querySelector('.content'));
      }

      /**
       * Checks that the appropriate size class is added.
       * @method
       */
      function testSizeClass() {
        assert.equal(first.querySelector('img').className, 'landscape');
        assert.equal(second.querySelector('img').className, 'portrait');
      }

      testContentCreation();
      testSizeClass();

      done();

    });
  </script>

</body>
</html>